:root {
    --white-color: #fff;
    --dark: #333;
    --transition: 0.3s;
    --accent-color: #F7CF77;
    --border-color: #cecece;
    --primary-color: #46C2B7;
    --color-cta-category: #594600;
    --background-color: #e7e6e65e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark);
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0 100px;
    transition: 0.6s;
}
header .logo {
    color: var(--white-color);
    font-size: 1.8;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
header .navigation {
    position: relative;
    line-height: 75px;
}
header .navigation .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}
.menu-item > a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
}