@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap');

:root {
    --white-color: #fff;
    --dark: #333;
    --transition: 0.3s;
    --accent-color: #F7CF77;
    --border-color: #cecece;
    --primary-color: #46C2B7;
    --color-cta-category: #594600;
    --background-color: #e7e6e65e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    margin-bottom: 0;
    font-weight: 600;
}
h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
}
ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0 !important;
}
a {
    text-decoration: none;
    color: var(--dark);
    transition: var(--transition);
}
a:hover {
    color: var(--color-cta-category);    
    transition: var(--transition);
}
p {
    margin-bottom: 0;
}
.custom-background {    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;      
}
.text-link {
    color: var(--color-cta-category);
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding: 0 5px;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.text-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    left: 0;
    width: 100%;
    height: 13px;
    background-color: var(--accent-color);
    z-index: -1;    
    transition: var(--transition);
}
.text-link:hover {
    /* padding: 0 0; */
    color: var(--color-cta-category);
}
.text-link:hover::before {
    width: 78%;
}




/* === HEADER SECTION === */
.mt-85 {
    margin-top: 85px;
}
header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark);
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0 100px;
    transition: 0.6s;
}
header .logo {
    color: var(--white-color);
    font-size: 1.8;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    width: 60px;
}
header .navigation {
    position: relative;
    line-height: 75px;
    transition: var(--transition);
    transition-property: line-height;
}
header.sticky .navigation {
    line-height: 50px;
}
header .navigation .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}
.menu-item > a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
}
.menu-item > a:hover {
    color: var(--accent-color);
    transition: var(--transition);
}
.menu-item .sub-menu {
    position: absolute;
    background: var(--dark);
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0; /* moj dodatak */
    pointer-events: none;
    transform: translateY(-20px);
    opacity: 0;
    transition: var(--transition);
    transition-property: transform, opacity;
}
/* Moving submenu to the top after reducing navigations line height */
header.sticky .menu-item .sub-menu {
    top: 50px;
}
.menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}
.menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0 -30px 5px -30px rgba(255, 255, 255, 0.2);
}
.menu-item .sub-menu .sub-item a {
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
    transition: var(--transition);
}
.menu-item .sub-menu .sub-item:hover {
    background-color: var(--accent-color);
    color: var(--color-cta-category) !important;
}
.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}
.more .more-menu {
    position: absolute;
    background: var(--dark);
    list-style: none;
    top: 0;
    left: 100%;
    white-space: nowrap;
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    pointer-events: none;
    transform: translateX(-20px);
    opacity: 0;
    transition: var(--transition);
    transition-property: transform, opacity;
}
.more:hover .more-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}
.more .more-menu .more-item {
    padding: 7px 0;
    box-shadow: inset 0 -30px 5px -30px rgba(255, 255, 255, 0.2);
    transition: var(--transition);
}
.more .more-menu .more-item:hover {
    background: var(--accent-color);
}
.menu-btn {
    display: none;
}

@media (max-width: 1060px) {      
    header .navigation {
        line-height: 40px;        
    }
    header .navigation .menu {
        position: fixed;
        display: block;
        background: #23252b;
        min-width: 200px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 50px 50px 90px 50px;
        visibility: hidden;
        overflow-y: auto;      
        transition: 0.5s;
        transition-property: right, visibility;          
    }
    header .navigation .menu.active {
        right: 0;
        visibility: visible;
    }   
     .menu-item {
        position: relative;        
    }
     .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }
    header.sticky .menu-item .sub-menu {
        top: 0;
    }
     .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }
     .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }
    .menu-item .sub-menu .sub-item a:hover {
        color: var(--accent-color);        
    }
    .more .more-menu {
        opacity: 1;
        position: relative;
        left: 0;
        transform: translateY(0);
        background: none;
        border-radius: 5px;
        display: none;
    }
    .more .more-menu .more-item {
        box-shadow: none;
    }
    .more .more-menu .more-item:hover {
        background: none;
    }
    .more .more-menu .more-item a {
        margin-left: 20px;
    }
    .close-btn {
        position: absolute;
        background: url(/img/nav/close.svg) no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin-left: 10px;
        cursor: pointer;
        z-index: 999999999;
    }
    .menu-btn {
        background: url(/img/nav/menu.svg) no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }
    header {
        padding: 15px 20px;
    }
    header.sticky {
        padding: 10px 20px;
    }
}


























.footer-nav li:not(:first-child) {
    margin-left: 20px;
}
.footer-nav a {    
    position: relative;  
    transition: var(--transition);    
    color: var(--white-color);
}
.footer-nav a:hover {
    color: var(--accent-color);
}
.footer-nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;    
    background-color: var(--accent-color);
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}  
.footer-nav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

@media (max-width: 992px) {
    .f-12 {
        font-size: 1.2rem;
    }
}

/* === HERO SECTION === */
.custom-paragraph {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;    
    margin-top: 40px;
    /* border-radius: 50px; */
}
.siringe {
    width: 20px;
}
img.siringe {
    -webkit-animation: move 1s infinite  alternate;
    animation: move 1s infinite  alternate;
}
img.siringe {
    -webkit-animation: move 1s infinite  alternate;
    animation: move 1s infinite  alternate;
}
@-webkit-keyframes move {
    0% { transform: translateY(0px); }
    100% { transform: translateY(20px); }
}
@keyframes move {
    0% { transform: translateY(0px); }
    100% { transform: translateY(20px); }
}

/* ====== Featured Posts ====== */
.post-category {
    /* font-weight: 600;
    color: var(--dark);
    border: 1px solid var(--dark);
    display: inline-block;
    padding: 0px 5px 3px 5px;
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem black;
    margin-top: 0.5rem;    
    transition: var(--transition);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem; */
    display: inline-block;
    padding: .25rem .75rem;
    margin: 1rem .5rem 0 0;
    font-size: 1rem;    
    line-height: 130%;
    background-color: var(--accent-color);
    border: 2px solid var(--color-cta-category);
    color: var(--color-cta-category);
    border-radius: 1rem;
    text-decoration: none;    
    transition: var(--transition);
}
.post-category:hover {
    top: .25rem;
    box-shadow: 0 -1px 0 var(--color-cta-category),0 -3px 0 -1px var(--color-cta-category),0 -5px 0 -2px var(--color-cta-category),0 -7px 0 -3px var(--color-cta-category),0 -9px 0 -5px var(--color-cta-category),0 -11px 0 -6px var(--color-cta-category);
    color: var(--dark);
}
.post-category-clean {
    color: var(--color-cta-category);
    font-size: 0.8rem;
    transition: var(--transition);
    border-bottom: 1px solid var(--color-cta-category);
    margin-bottom: 0.5rem;
    display: inline-block;
}
.post-category-clean:hover {
    color: var(--white-color);
    background-color: var(--color-cta-category);
    padding: 2px 8px 0 8px;
    border-radius: 5px;
}
.meta img {
    height: 40px;
    width: 40px;
    border-radius: 50%;   
    border: 3px solid var(--color-cta-category);
    padding: 2px; 
}
.auth-date p {
    font-size: 14px;
}

/* ====== Newest Posts ====== */
.newest-post .title {
    margin-bottom: 2rem;
}
.newest-post .title h3 {
    font-weight: 600;
    margin-top: 5px;    
}
.newest-post h4 {    
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.newest-post .author,
.newest-post .time {
    font-size: 0.8rem;
}
.time {
    color: #b6b6b6;    
}

@media (max-width: 991px) {
    .specific-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 1rem;
        margin-top: 2rem;
    }
}
@media (max-width: 576px) {
    .specific-grid {        
        grid-template-columns: 1fr;        
    }
}

/* ====== Did you know Section ====== */
.did-you-know {
    background-color: var(--accent-color);
}
.did-you-know h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}
.did-you-know-text {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.btn-custom-banner {        
    background: var(--color-cta-category);
    outline: none;
    border: 1px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 8px 10px;
    transition: var(--transition);
    border-radius: 5px;
    color: var(--white-color);
    margin-left: 2px;
}
.btn-custom-banner:hover {
    background: transparent;
    color: var(--dark);
    border: 1px solid var(--color-cta-category);
}




/* ====== Popular Posts ====== */
.custom-img-frame {    
    border-bottom: 2px solid var(--white-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.custom-form-frame {    
    border-top: 2px solid var(--white-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.popular-posts .post-category {
    margin-top: 0;
}
.post-title-link h4 {
    color: var(--dark);
    transition: var(--transition);
}
.post-title-link h4:hover {
    color: var(--color-cta-category);
}
.popular-mini-post-content .post-author {
    font-size: 0.8rem;
    opacity: 0.5;
}
.popular-post-img {
    flex: 40%;
}
.popular-mini-post-content {
    flex: 60%;
}
.contact-form {
    background: var(--accent-color);
}
.btn-custom {
    background: var(--color-cta-category);
    width: 60%;    
    color: var(--white-color);
    color: var(--white-color);
    line-height: 2.2;
    border: 1px solid var(--color-cta-category);
    border-color: var(--color-cta-category) !important;
    transition: var(--transition);
}
.btn-custom:hover {
    background: transparent;    
}
.form-control:focus {
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
    border: 1px solid var(--color-cta-category);
}
.form-check-input:checked {
    background-color: var(--color-cta-category);
    border-color: var(--color-cta-category);
}
.form-check-input:focus {
    box-shadow: none;
}
@media (max-width: 768px) {
    .specific-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 1rem;
        margin-top: 2rem;
    }
}
@media (max-width: 575px) {
    .specific-grid-small {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-gap: 1rem;
        margin-top: 2rem;
    }
    .specific-grid-small .popular-post-img {
        flex: 4;
    }
}

/* ====== Card Posts Section ====== */
.btn-custom-fade-color {
    background: var(--border-color);
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: var(--transition);
}
.btn-custom-fade-color:hover {
    background: var(--dark);
    color: var(--accent-color);
}
.btn-custom-fade-color span {
    font-style: normal;
    font-size: 12px;
}
.card-wrapper {
    background-color: var(--background-color);
}

/* ====== Footer Section ====== */
footer {
    background: var(--dark);     
}
footer .container img {
    width: 100px;
}
footer p {
    color: var(--white-color);   
    transition: var(--transition);
    text-transform: uppercase;
}
footer a:hover p {
    color: var(--accent-color);
}
.footer-icons i {
    color: var(--dark);
    transition: var(--transition);
    background: var(--accent-color);
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
}
.footer-icons i:hover {
    color: var(--white-color);
    background: transparent;
}
.footer-bottom {
    border-top: 1px solid #cecece52;
}
.footer-bottom p {
    text-transform: none;
    font-size: 14px;
}
.footer-bottom p span {
    font-size: 12px;
}
@media (max-width: 1200px) {
    .footer-nav li:not(:first-child)  {
        margin-left: 0px;        
    }
    .footer-nav li {
        margin-bottom: 10px;
    }
}



















/* .div {
    position: relative;
    display: inline-block;
    padding: 15px 70px;
    border: 5px solid #B17461;
    color: #B17461;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#B17461, #B17461);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
  }
  .center-right-left, .center-top-bottom, .center-corner {
    background-position: 50% 50%;
  }
  .to-left {
    background-position: 100% 50%;
  }
  .to-right {
    background-position: 0% 50%;
  }
  .to-top {
    background-position: 50% 100%;
  }
  .to-bottom {
    background-position: 50% 0%;
  }
  .center-right-left, .to-left, .to-right {
    background-size: 0% 100%;
  }
  .center-top-bottom, .to-top, .to-bottom {
    background-size: 100% 0%;
  }
  .center-corner {
    background-size: 0% 0%;
  }
  div:hover {
    background-size: 100% 100%;
    color: #fff;
  } */

  /* .pulse {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background: var(--accent-color);
    animation: pulse 1500ms infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #fbb32f;
    }
    100% {
        box-shadow: 0 0 0 17px #fbb32f01;
    }
} */


